@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
@import './variables';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    font-family: 'Spartan';
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
    max-width: 1450px;

}

.info,
.rate,
.review {
    display: flex;
}

.info {
    width: 50%;
    flex-direction: column;

    #{&}__title {
        width: 80%;
        font-size: 3rem;
        font-weight: 700;
        color: $magenta;
        line-height: 1;
        margin-bottom: .9rem;
    }

    #{&}__text {
        width: 85%;
        color: $dmagenta;
        font-weight: 500;
    }
}

.rate {
    width: 50%;
    flex-direction: column;

    #{&}_content {
        width: 75%;
        background: $lmagenta;
        padding: 1rem 1.3rem;
        margin: .5rem;
        border-radius: .5rem;

        &:nth-child(2) {
            transform: translateX(4rem);
        }

        &:nth-child(3) {
            transform: translateX(8rem);
        }
    }

    #{&}__star {
        margin: 0 1rem 0 0;

        img {
            width: .9rem;
        }
    }

    #{&}__text {
        font-weight: 700;
        color: $magenta;
    }
}

.review {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;

    &_content {
        background: $magenta;
        display: flex;
        flex-wrap: wrap;
        width: 32%;
        border-radius: .5rem;
        color: $white;
        padding: .5rem;

        &:nth-child(2) {
            transform: translateY(1rem);
        }

        &:nth-child(3) {
            transform: translateY(2rem);
        }

        p {
            margin: 0 1.5rem 1.5rem;
        }
    }

    &__images {
        width: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        height: 50px;
        margin: 1.5rem 1rem 1rem 1.5rem;

        img {

            border-radius: 50%;
            width: 100%;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: center;

        .name {
            color: $white;
            font-weight: 700;
        }

        .status {
            color: $pink;
        }

    }

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

// mobile
@media screen and (max-width : 864px) {
    body {
        background-color: $white;
        background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
        background-position: top left, bottom right;
        background-repeat: no-repeat;
    }

    .container,
    .container>* {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .container {
        margin: 7rem 1rem !important;
    }

    .info,
    .rate,
    .review {
        margin: 1.5rem auto !important;
        width: 100%;
    }

    .info>*,
    .rate>*,
    .review>* {
        width: 100% !important;
    }

    .info {
        text-align: center;

        #{&}__title {
            font-size: 2rem;

            margin-bottom: 2rem;
        }
    }

    .rate {
        #{&}_content {
            margin-left: 0;
            margin-right: 0;
            display: flex;
            flex-direction: column;
            text-align: center;

            &:nth-child(2) {
                transform: translateX(0);
            }

            &:nth-child(3) {
                transform: translateX(0);
            }
        }

        #{&}__star {
            margin-right: 0;
            margin-bottom: .5rem;
        }
    }

    .review {
        &__top {
            margin: 1.5rem 0 1rem;
            padding: 0 1rem;
            height: auto;
        }
    }
}